
@font-face {
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 400;
	font-style: italic;
}

@font-face {
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: normal;
}

@font-face {
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-family: 'Open Sans';
	font-weight: 800;
	font-style: normal;
}

.page {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}


.page {
	margin: 0 auto;
	max-width: 1579px;
	min-height: 688px;
	background-color: #F6F2F2;
}


.page-header {
	padding-top: 29px;
}


.menu__item {
	display: flex;
	align-items: stretch;
	justify-content: center;
	min-height: 89px;
}

.site-menu {
	box-sizing: border-box;
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1249px;
    margin: 0 auto;
    min-height: 89px;
    background-color: #000000;
}


.link-menu {
	display: flex;
	align-items: center;
	padding: 0 30px;
	color: #e0e0e0;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.link-menu:hover {
    background-color: #ff3f40;
}

.intro {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

.page__content {
	flex-grow: 1;
}


.text {
	display: flex;
	margin: 0 auto;
	font-size: 60px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;	
}



.intro {
	padding-top: 103px;
	padding-bottom: 94px;
}

.intro__content {
	position: relative;
    bottom: 11px;
	width: 617px;
	margin-bottom: 20px;
	margin-right: 75px;
}

.intro__heading {
	margin: 0;
	font-size: 60px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;
}

.intro__heading_style {
	letter-spacing: 6px;
	word-break: break-word;
	hyphens: auto;
}

.intro__text {
	max-width: 520px;
	margin-bottom: 51px;
	opacity: 0.7; 
}

.action-button {
	box-sizing: border-box;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 227px;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	background-color: #ff2d2d;
}

.intro__image {
	width: 551px;
	height: 356px;
	box-shadow: 0 -10px 40px 0 rgb(124, 124, 124);
}

.footer {
	background-color: #2c2c2c;
	padding: 0 1vw;
}

.footer__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 1249px;
	margin: 0 auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

.footer__content {
	box-sizing: border-box;
	padding: 19px 0 0;
	color: #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 110px;
	background-color: #2c2c2c;
}

.footer__link {
	display: inline-block;
}

.footer__social-links > .footer__link:not(:last-child) {
	margin-right: 18px;
}

@media screen and (max-width: 1286px) {
	.intro {
		flex-wrap: nowrap;
	}
	.intro__content {
		width: 50%;
		box-sizing: border-box;
		margin-right: 0;
		padding-right: 15px;
	}
	.intro__heading {
		font-size: 5vw;
	}
	.intro__image-link {
		width: 50%;
	}
	.intro__image {
		width: 100%;
		height: auto;
	}

@media screen and (max-width: 700px) {
	.header {
		padding-left: 20px;
	}
	.intro {
		flex-wrap: wrap;
	}
	.intro__content {
		width: 100%;
	}
	.intro__image-link {
		width: 100%;
	}
	.intro__image {
		width: 100%;
		height: auto;
	}
	.intro__heading {
		font-size: 50px;
	}
}